
<%- include('header.ejs') %>
<div class="container"  >
<div class="card" >
 <h1><%= post.title %></h1>
 <small><%= post.author %></small>
 <small><%= post.time %></small>
 <br>
 <br>
 <br>
 <p>
 <%= post.content %> 

 </p>
    

 </div>


</div>


<%- include('footer.ejs') %>

